<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis text-decoration-none" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        MotherPanel
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4>MotherPanel List</h4>
                </div>
                <div class="col-md-6" *ngIf="canAddPanel">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" (click)="AddPanelModal()" type="button">Add
                            MotherPanel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body table-group-divider">
            <div class="table-responsive">
                <table class="table table-bordered border-primary table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Panel Name</th>
                            <th *ngIf="canEditPanel || canDeletePanel" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @for(item of panels; let i=$index; track item.name)
                        {
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.name}}</td>
                            <td *ngIf="canEditPanel || canDeletePanel">
                                <div class="d-flex gap-2 col-4 mx-auto">
                                    <button *ngIf="canEditPanel" class="btn btn-primary" (click)="EditPanel(item)"
                                        type="button">Edit</button>
                                    <button *ngIf="canDeletePanel" class="btn btn-danger" (click)="deletePanel(item)"
                                        type="button">Delete</button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade show" id="exampleModal" [class.d-block]="showModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">{{editMode ? "Edit" : 'Add'}} MotherPanel
                </h1>
                <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" [formGroup]="PanelFormModel" (ngSubmit)="onSubmit()" novalidate>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-name" class="fw-bold col-form-label">Name:</label>
                            <input type="text" formControlName="name" class="form-control" id="user-name" [ngClass]="{
                            'is-valid': PanelFormModel.get('name')?.valid && (PanelFormModel.get('name')?.touched || PanelFormModel.get('name')?.dirty || IsSubmit),
                            'is-invalid': PanelFormModel.get('name')?.invalid && (PanelFormModel.get('name')?.touched || PanelFormModel.get('name')?.dirty || IsSubmit)
                          }">
                            <div *ngIf="PanelFormModel.get('name') && PanelFormModel.get('name')?.invalid"
                                class="invalid-feedback">
                                <div *ngIf="PanelFormModel.get('name')?.errors?.['required']">Name is required.</div>
                                <div *ngIf="PanelFormModel.get('name')?.errors?.['maxlength']">Name cannot be more than
                                    20 characters long.</div>
                                <div *ngIf="PanelFormModel.get('name')?.errors?.['alphanumeric']">Special Character Not
                                    Allowed</div>
                                <div *ngIf="PanelFormModel.get('name')?.errors?.['NameTaken']">Name is already Used
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- INPUT - 2 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-name" class="fw-bold col-form-label">URL Address1:</label>
                            <input type="text" formControlName="url_address1" class="form-control" id="user-name"
                                [ngClass]="{
                            'is-valid': PanelFormModel.get('url_address1')?.valid && (PanelFormModel.get('url_address1')?.touched || PanelFormModel.get('url_address1')?.dirty || IsSubmit),
                            'is-invalid': PanelFormModel.get('url_address1')?.invalid && (PanelFormModel.get('url_address1')?.touched || PanelFormModel.get('url_address1')?.dirty || IsSubmit)
                          }">
                            <div *ngIf="PanelFormModel.get('url_address1') && PanelFormModel.get('url_address1')?.invalid"
                                class="invalid-feedback">
                                <div *ngIf="PanelFormModel.get('url_address1')?.errors?.['required']">URL Address1 is
                                    required.</div>
                            </div>
                        </div>
                    </div>

                    <!-- INPUT - 3 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-name" class="fw-bold col-form-label">URL Address2:</label>
                            <input type="text" formControlName="url_address2" class="form-control" id="user-name"
                                [ngClass]="{
                            'is-valid': PanelFormModel.get('url_address2')?.valid && (PanelFormModel.get('url_address2')?.touched || PanelFormModel.get('url_address2')?.dirty || IsSubmit),
                            'is-invalid': PanelFormModel.get('url_address2')?.invalid && (PanelFormModel.get('url_address2')?.touched || PanelFormModel.get('url_address2')?.dirty || IsSubmit)
                          }">
                            <div *ngIf="PanelFormModel.get('url_address2') && PanelFormModel.get('url_address2')?.invalid"
                                class="invalid-feedback">
                                <div *ngIf="PanelFormModel.get('url_address2')?.errors?.['required']">URL Address2 is
                                    required.</div>
                            </div>
                        </div>
                    </div>


                    <!-- INPUT - 4 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-name" class="fw-bold col-form-label">Country:</label>
                            <input type="text" formControlName="country" class="form-control" id="user-name" [ngClass]="{
                            'is-valid': PanelFormModel.get('country')?.valid && (PanelFormModel.get('country')?.touched || PanelFormModel.get('country')?.dirty || IsSubmit),
                            'is-invalid': PanelFormModel.get('country')?.invalid && (PanelFormModel.get('country')?.touched || PanelFormModel.get('country')?.dirty || IsSubmit)
                          }">
                            <div *ngIf="PanelFormModel.get('country') && PanelFormModel.get('country')?.invalid"
                                class="invalid-feedback">
                                <div *ngIf="PanelFormModel.get('country')?.errors?.['required']">Country is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fw-bold" (click)="closeModal()"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary fw-bold">{{editMode ? 'Save changes' :
                            'Add'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>