<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis text-decoration-none" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Website
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4>Website List</h4>
                </div>
                <div class="col-md-6" *ngIf="canAddWeb">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button routerLink="/website/add" class="btn btn-primary me-md-2">Add Website</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body table-group-divider">
            <div class="row">
                <div class="col-md-2">
                    <select class="form-select" (change)="GetPanel($event)" aria-label="Default select example">
                        <option value="">Select Customer</option>
                        @for(cust of customers; let i=$index; track cust.name)
                        {
                            <option value="{{cust._id}}">{{cust.name}}</option>
                        }
                      </select>
                </div>
                <div class="col-md-2">
                    <select class="form-select" (change)="GetPlatform($event)" aria-label="Default select example">
                        <option value="">Select MotherPanel</option>
                        @for(pan of panels;let i=$index; track pan)
                        {
                            <option value="{{pan._id}}">{{pan.name}}</option>
                        }
                      </select>
                </div>
                <div class="col-md-2">
                    <select class="form-select" (change)="GetWebsite($event)" aria-label="Default select example">
                        <option value="">Select Platform</option>
                        @for(plat of platforms; let i=$index; track plat)
                        {
                            <option value="{{plat}}">{{plat}}</option>
                        }
                      </select>
                </div>
                <div class="col-md-2">
                    <select class="form-select" (change)="WebsiteD($event)" aria-label="Default select example">
                        <option value="">Select Website</option>
                        @for(web of websites; let i=$index; track web[i])
                        {
                            <option value="{{web}}">{{web}}</option>
                        }
                      </select>
                </div>
                <div class="col-md-4">
                    <button type="button" [disabled]="!isAllSelected()" (click)="ViewData()" class="btn btn-primary me-2 btn-md">View</button>
                    <button type="button" *ngIf="canEditWeb" [disabled]="!isAllSelected()" (click)="EditPage()" class="btn btn-info btn-md">Edit Detail</button>
                </div>
            </div>

            <div class="row mt-5" *ngIf="DbDetail">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <h4 style="background: #184e5d;color: #fff;margin: 0px;line-height: 41px;">{{innerTitle}}</h4>
                        <table class="table table-striped" style="border:1px solid #0d6efd">
                            @for(db_detail of databaseDetail; track db_detail)
                            {
                                <tr class="table-primary" style="border:1px solid #0d6efd">
                                    <td class="fw-bold text-capitalize" style="width: 50%;padding-left: 10px;background-color: #0c3c26;color: #fff;">{{db_detail[0]}}</td>
                                    <td class="fw-bold  text-capitalize" style="border-left: 1px solid #0d6efd;padding-left: 10px;">{{db_detail[1]}}</td>
                                </tr>
                            }
                            
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="row mt-5" *ngIf="WebDetail">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <h4 style="background: #184e5d;color: #fff;margin: 0px;padding-left: 10px;line-height: 41px;">{{innerTitle}}</h4>
                        <table class="table table-striped" style="border:1px solid #0d6efd">
                            @for(db_detail of databaseDetail; track db_detail)
                            {
                                <tr class="table-primary" style="border:1px solid #0d6efd">
                                    <td class="fw-bold text-left text-capitalize" style="width: 50%;padding-left: 10px;background-color: #0c3c26;color: #fff;">{{db_detail[0]}}</td>
                                    <td class="fw-bold text-left text-capitalize" style="border-left: 1px solid #0d6efd;padding-left: 10px;">{{db_detail[1]}}</td>
                                </tr>
                            }
                            
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <h4 style="background: #184e5d;color: #fff;margin: 0px;padding-left: 10px;line-height: 41px;">Server Detail</h4>
                        <table class="table table-striped" style="border:1px solid #0d6efd">
                            @for(server_detail of serverDetail; track server_detail)
                            {
                                <tr class="table-primary" style="border:1px solid #0d6efd">
                                    <td class="fw-bold text-left text-capitalize" style="width: 50%;padding-left: 10px;background-color: #a739a5;color: #fff;">{{server_detail[0]}}</td>
                                    <td class="fw-bold text-left text-capitalize" style="border-left: 1px solid #0d6efd;padding-left: 10px;">{{server_detail[1]}}</td>
                                </tr>
                            }
                            
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <h4 style="background: #184e5d;color: #fff;margin: 0px;padding-left: 10px;line-height: 41px;">SSL Detail</h4>
                        <table class="table table-bordered border-primary" >
                            @for(ssl_detail of sslDetail; track ssl_detail)
                            {
                                <tr class="table-primary" style="border:1px solid #0d6efd">
                                    <td class="fw-bold text-left text-capitalize" style="width: 40%;padding-left: 10px;background-color: #1d39b9a8;color: #fff;">{{ssl_detail[0]}}</td>
                                    <td class="fw-bold text-left text-capitalize" style="border-left: 1px solid #0d6efd;padding-left: 10px;">{{ssl_detail[1]}}</td>
                                </tr>
                            }
                            
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>