<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis text-decoration-none" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Server Settings
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4>Server Settings</h4>
                </div>
            </div>
        </div>
        <div class="card-body table-group-divider">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="web-region" class="fw-bold col-form-label">Select Server Type:</label>
                        <select id="web-region" formControlName="region" class="form-select" >
                            <option value="">Choose...</option>
                            <option value="ind">Java</option>
                            <option value="bd">Node</option>
                          </select>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="technology" class="fw-bold col-form-label">Server Name</label>
                        <input type="text" formControlName="web_technology" class="form-control" id="technology" >
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="technology" class="fw-bold col-form-label">Server Tag</label>
                        <input type="text" formControlName="web_technology" class="form-control" id="technology" >
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="technology" class="fw-bold col-form-label">Server IP</label>
                        <input type="text" formControlName="web_technology" class="form-control" id="technology" >
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="technology" class="fw-bold col-form-label">Server Note</label>
                        <input type="text" formControlName="web_technology" class="form-control" id="technology" >
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">HTTP2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Gzip</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">SSL</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Nginx</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Tomcat Cache</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Nignx Worker Connection</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Nignx Open Files</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Nagios</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">TimeZone IST</label>
                      </div>
                      
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">UFW (Firewall)</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Java Melody Access (Tomcat)</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">PM2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Redis</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Garbage Collector Value</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Closed Ports(Except: 80, 443,22)</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Rate Limiting</label>
                      </div>
                </div>
            </div>
        </div>
</div>