<div class="main">
  <div class="login-wrap">
    <div class="bv"></div>
    <form style="width: 90%;" [formGroup]="otpForm" (ngSubmit)="submit()" autocomplete="off">
      <dl>
        <dt>Email Verification</dt>
        <dd>
          <label class="loginLable">OTP</label>
          <div class="otp-inputs" formArrayName="otp">
            <input [appPatternRestrict]="pattern.mobile" type="text" maxlength="1"
              *ngFor="let ctrl of otpArray.controls; let i = index"
              [formControlName]="i"
              (input)="moveNext($event, i)"
              (keydown.backspace)="movePrev($event, i)" />
          </div>
          <div class="error" *ngIf="otpForm.invalid && otpForm.touched">
            <small>Otp is required</small>
          </div>
        </dd>
        <dd class="logindd">
          <button id="loginBtn" type="submit" class="btn-send"> Login </button>
        </dd>
        <dd>
          <span class="resend_OTP" (click)="resendOTP()">Resend OTP</span>
        </dd>
      </dl>
    </form>
  </div>
</div>
